<mat-card class="screen">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <form (submit)="login()">
    <div class="login">
      <mat-form-field appearance="fill">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput [formControl]="usernameControl" name="username" placeholder="Usuario" required>
      </mat-form-field>
    </div>
    <div class="login">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [formControl]="passwordControl" name="password" type="password" placeholder="Contraseña" required>
      </mat-form-field>
    </div>
    <div class="login">
      <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
      <button mat-raised-button color="primary" type="button">Iniciar sesión con Google</button>
      <button mat-raised-button color="primary" type="button">Registrarse</button>
    </div>
  </form>
</mat-card>
