<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/login.css">
        <title>Mi vista</title>
    </head>
    <body>
        <div>
            <block>
                <label>Ingresa el usuario: </label><br>
                <input type="text" id="usuarioId" name="usuario"><br>
            </block>
            <block>
                <label>Ingresa la contraseña:</label><br>
                <input type="password" id="usuarioId" name="usuario"><br>
            </block>
        </div>
    </body>
</html>